{% extends "base.html" %}

{% block content %}

<div class="card" id="snippet-card">
    <div class="card-body">
        <h5 class="card-title" id="card-title">Card title</h5>
        <div class="container">
            <div class="row">
                <div class="col-10">
                    <pre class="bg-light border"><code id="code"></code></pre>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-light" id="copy">Copy</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Add the URL above to your <a href="https://calendar.google.com/calendar/u/0/r/settings/addbyurl" target="_blank">Google Calendar settings</a>.
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    Click on one of the regions below to get a custom iCal URL:
</p>

<ul>
    {% for code, name in regions %}
        <li class="region" data-code="{{ code }}" data-name="{{ name }}"><b>{{ code }}:</b> {{ name }}</li>
    {% endfor %}
</ul>
{% endblock %}
